html
	head
		title booru
		script(src="../js/index.js" defer="defer" type="module")
		link(rel="stylesheet" href="../css/index.styl")
		link(rel="icon" type="image/png" href="../css/open-delivered-box.png")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		#hi hi, anon!
		#header-wrap
			#header
				h1 <font color=tomato>meta</font>booru
			#input-wrap
				input#search-box(placeholder="search...")
		#image-grid